
@{
    ViewBag.Title = "AboutTheAuthor";
   // Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Об авторе</h2>
<img src="~/App_FrontEnd/Images/ArcheAge_sample.jpg" alt="Красивый корабль" height="226" width="256"/>
@section rPanel
    {
    <div>Я Зунунов Мухаммад и я классный :D 
     <br />
    Я люблю красный, синий, желтый и оранжевый цвет
    <br />
    Я люблю вкусно покушать
    <br />
    Я люблю программировать</div>
    }