@model ДвижокНовостейЗМ.ViewModels.CalcData

@{
    ViewBag.Title = "ShowCalcRes";
}

<h2>ShowCalcRes</h2>

X: @Model.X <br />
Y: @Model.Y <br />
Операция: @Model.Oper <br />
Результат: @Model.Result <br />

